{% load static %}
<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{% static 'modal_user.css' %}">

    <style>
      div.table_menu {
      color: blue;
      }
      table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      }
      th {
      text-align: left;
      }
      table {
      border-spacing: 5px;
    }
</style>
<body>
<h1>{{ title }}</h1>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
{% block menu_users %}
    <div class="table_menu" style="margin: 10px;">
        <button type="button" onclick="openModal()">Add user</button>
        <div id="myModal" class="modal">
          <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            {% include 'user_detail.html' %}

          </div>
        </div>
    </div>
{% endblock menu_users %}
<table style="width:50%">
    <tr style="color: lightblue;">
        <td>ID</td>
        <td>Firstname</td>
        <td>Lastname</td>
        <td>Age</td>
        <td>Email</td>
    </tr>
    {% if users %}
      {% for key, user in users.items %}
    <tr>
      <td>{{ key|default:"None" }}</td>

      <td>{{ user.firstname|default:"None" }}</td>
      <td>{{ user.lastname|default:"None" }}</td>
      <td>{{ user.age|default:"None" }}</td>
      <td>{{ user.email|default:"None" }}</td>

      <td><a href="{% url 'edit_user' user %}">Edit</a></td>

    </tr>
      {% empty %}
        <p>Немає даних</p>
      {% endfor %}
    {% else %}
        <p style="color: green;" >Немає ще даних</p>
    {% endif %}
</table>

<script src="{% static 'modal_user.js' %}"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/@faker-js/faker"></script>-->

</body>
</html>