{% load static %}
<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{% static 'modal_user.css' %}">

<body>
    <h1 style="color: lightblue;">Add new user</h1>

    <form id="formUser" action="{% url 'add_user' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}

    {% comment %}
        {% for field in form %}
        <div class="fieldWrapper" style="margin: 10px">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
        {% endfor %}



        <p><input type="text" name="firstname" value="{{ user.firstname }}" required></p>
        <p><input type="text" name="lastname" value="{{ user.lastname }}" required></p>
        <p><input type="text" name="age" value="{{ user.age }}" required></p>
        <p><input type="text" name="email" value="{{ user.email }}" required></p>
    {% endcomment %}

        <input type="submit" value="Add user">

        <button type="button" onclick="autofill()">Autofill</button>
    </form>

    <script src="{% static 'modal_user.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@faker-js/faker@7.6.0/dist/faker.umd.min.js"></script>
    <script type="module">
        import { faker } from 'https://cdn.jsdelivr.net/npm/@faker-js/faker@8.4.1/+esm';

        // Функція аутозаповненя полів форми фейковими даними
        window.autofill = function () {
            const form = document.getElementById('formUser');
            if (form) {
                const fakeData = {
                    firstname: faker.person.firstName(),
                    lastname: faker.person.lastName(),
                    age: faker.number.int({ min: 18, max: 90 }),
                    email: faker.internet.email(),
                };

                form.querySelector('input[name="firstname"]').value = fakeData.firstname;
                form.querySelector('input[name="lastname"]').value = fakeData.lastname;
                form.querySelector('input[name="age"]').value = fakeData.age;
                form.querySelector('input[name="email"]').value = fakeData.email;
            }
        }
    </script>

</body>
</html>