asgiref==3.9.1
DateTime==5.5
Django==5.2.4
Faker==37.4.2
git-filter-repo==2.47.0
psycopg2-binary==2.9.10
python-dotenv==1.1.1
pytz==2025.2
random2==1.0.2
setuptools==75.6.0
sqlparse==0.5.3
tzdata==2025.2
wheel==0.45.1
zope.interface==7.2
