{% load static %}
<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{% static 'modal_user.css' %}">

<body>
<!--    <h1 style="color: lightblue;">{{ title }}</h1>-->
<p>{{ message }}</p>

<!--    <form class="formUser" action="{% url 'add_user' %}" method="post">-->
    <form class="formUser" method="post">
        {% csrf_token %}
        <input type="hidden" name="user_id" autocomplete="id_user">
        <fieldset style="border: 1px solid lightblue">
            <legend id="new_user" style="color: lightblue" ></legend>
                <table>
                {{ form_new_user.as_table }}
                </table>
            </fieldset>

        <div style="margin: 30px">
            <input type="submit" name="submit">

            <button type="button" onclick="autofill()">Autofill</button>

        </div>

    </form>

    <form class="formEditUser" method="post">
        {% csrf_token %}
        <input type="hidden" name="id" autocomplete="id_user">
        <fieldset style="border: 1px solid lightblue">
            <legend id="legend" style="color: lightblue" ></legend>
                <table>
                {{ form_edit_user.as_table }}
                </table>
            </fieldset>

        <div style="margin: 30px">
            <input type="submit" name="submit">

            <button type="button" onclick="autofill()">Autofill</button>

        </div>

    </form>

    <script src="{% static 'modal_user.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@faker-js/faker@8.0.0/dist/faker.min.js"></script>
<!--    <script src="https://cdn.jsdelivr.net/npm/@faker-js/faker@7.6.0/dist/faker.umd.min.js"></script>-->
    <script type="module">
        import { faker } from 'https://cdn.jsdelivr.net/npm/@faker-js/faker@8.4.1/+esm';

        // Функція аутозаповненя полів форми фейковими даними
        window.autofill = function () {
            const form = document.querySelector(".formUser");
            const formEdit = document.querySelector(".formEditUser");
            console.dir(formEdit.style.display)
            const fakeData = {
                firstname: faker.person.firstName(),
                lastname: faker.person.lastName(),
                age: faker.number.int({ min: 18, max: 90 }),
                email: faker.internet.email(),
                phone: faker.phone.number('+380 (##) ###-##-##')
                };

            if (form.style.display) {
                form.querySelector('input[name="email"]').value = fakeData.email;
                form.querySelector('input[name="login"]').value = fakeData.firstname;
                form.querySelector('input[name="password"]').value = fakeData.lastname;
            }

            if (formEdit.style.display == 'block') {
                formEdit.querySelector('input[name="firstname"]').value = fakeData.firstname;
                formEdit.querySelector('input[name="lastname"]').value = fakeData.lastname;
                formEdit.querySelector('input[name="age"]').value = fakeData.age;
                formEdit.querySelector('input[name="phone"]').value = fakeData.phone;
                }
        }
    </script>

</body>
</html>