{% extends "master.html" %}

{% block title %}
  Book {{ book.title }}
{% endblock %}

{% block content %}

<h1>Book info</h1>

<h3>{{ message }}</h3>

<p>Title: <span  style="color: lightblue; font-size: 20px">{{ book.title }}</span ></p>


<table style="width:50%">

  {% for key, value in book.items %}
    <tr>
      <td style="color: lightblue; width: 80px">{{ key }}:<span style="color:red">*</span></td>
      <td style="font-size: 20px">{{ value }}</td>
    </tr>
  {% empty %}
  <p class="message-error">Дані відсутні..</p>

  {% endfor %}
</table>

{% endblock %}