{% extends 'blog/base_blog.html' %}

{% block title %}
    Posts list
{% endblock %}

{% block content %}
    <h1 class="mb-5">Posts:</h1>
    {% for post in posts %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">{{ post.data }}</h6>
            <p class="card-text">{{ post.body|truncatewords:15 }}</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Read</a>
        </div>
    </div>
    <p>
        {{ post.title }}
    </p>
    {% endfor %}
{% endblock content %}