{% extends 'blog/base_blog.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h1 class="mb-5">Posts: {{ posts_cat }}</h1>
    {% for post in posts %}
    <div class="card mb-3">
        <h6 class="card-subtitle mb-2 text-body-secondary">Source: {{ post.source.name }}</h6>
        <img src="{{ post.urlToImage }}" class="card-img-top" alt="{{ post.title }}">
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
<!--            <p class="card-text">{{ post.content }}</p>-->
            <p class="card-text">{{ post.description|truncatewords:200 }}</p>
            <p class="card-link"><small class="text-body-secondary">Author: {{ post.author }}</small></p>
            <p class="card-link"><small class="text-body-secondary">Data published: {{ post.publishedAt }}</small></p>
            <a href="{{ post.url }}" class="btn btn-primary">Read all</a>
        </div>
    </div>

    {% endfor %}
{% endblock content %}