<!DOCTYPE html>
<html>
<style>
  a {
  color: green;
  }
  table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  }
  th {
  text-align: left;
  }
  table {
  border-spacing: 5px;
}
</style>
<body>
<h1>Users from DataBase</h1>
<a href="{% url 'register_user' %}">Register new user</a>
<p></p>
<div>
  <table style="width:50%">
    <tr color="blue">
      <th>ID</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Login</th>
      <th>Email</th>
      <th>Phone</th>

    </tr>
      {% for user in users %}
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.firstname }}</td>
      <td>{{ user.lastname }}</td>
      <td><a href="{% url 'new_user_id' user.id %}">{{ user.login }}</a></td>
      <td>{{ user.email }}</td>
      <td>{{ user.phone }}</td>
    </tr>
      {% endfor %}
  </table>
</div>
</body>
</html>

